[user]
  name = Keisuke Ishizawa
  email = muddyapesjm66@gmail.com
[core]
  excludesfile = /Users/Keisuke/.gitignore_global
  editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[alias]
  ctree = log --color --graph --date-order --pretty=format:'%x09%C(yellow)%h%Creset%x09%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  tree = log --color --graph --date-order --all --pretty=format:'%x09%C(yellow)%h%Creset%x09%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ck = checkout
  dfcached = diff --cached
  pff = pull --ff-only
  prebase = pull --rebase
  fprune = fetch --prune
  prbdev = pull --rebase origin develop
  ffs = flow feature start
  fff = flow feature finish
  nbranch = checkout -b
  dbranch = branch -D
  cbranch = "!f(){ git nbranch \"$2\" \"$1/$2\";};f"
  close-issue = "!f(){ git commit --allow-empty -m \"Closed #$1\";};f"
[color]
  ui = auto
[log]
  decorate = short
[push]
  default = simple
[merge]
  tool = vimdiff
  ff = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templateDir = /Users/keisuke/.git-templates/git-secrets
