[core]
	excludesfile = /Users/kei-p/.gitignore_global
  editor = vim -c \"set fenc=utf-8\"
	hooksPath = ~/git-hooks/hooks
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[alias]
  ctree = log --color --graph --date-order --pretty=format:'%x09%C(yellow)%h%Creset%x09%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  tree = log --color --graph --date-order --all --pretty=format:'%x09%C(yellow)%h%Creset%x09%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ck = checkout
  dfcached = diff --cached
  pff = pull --ff-only
  prebase = pull --rebase
  fprune = fetch --prune
  prbdev = pull --rebase origin develop
  ffs = flow feature start
  fff = flow feature finish
  nbranch = checkout -b
  dbranch = branch -D
  cbranch = "!f(){ git nbranch \"$2\" \"$1/$2\";};f"
  close-issue = "!f(){ git commit --allow-empty -m \"Closed #$1\";};f"
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[color]
  ui = auto
[log]
  decorate = short
[push]
  default = simple
  autoSetupRemote = true
[pull]
  ff = only
[merge]
  tool = vimdiff
  ff = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process
[init]
	defaultBranch = main
